{% extends "base.html" %}

{% block title %}
About | Thomas Do
{% endblock %}

{% block content %}
<div class="about-section">
    <h1>Hey, I'm Thomas 👋</h1>
    <p>I design hardware, write firmware, and build full-stack applications. With a deep passion for technology, I enjoy creating complex systems from scratch. Whether it's working on embedded systems or developing web applications, I am always eager to learn and improve my skills.</p>

    <p>With a background in both hardware design and software development, I thrive on solving challenges and building things that have a real-world impact. My goal is to continue pushing the boundaries of what's possible and to contribute to projects that make a difference in the tech world.</p>

    <p>Feel free to reach out if you want to collaborate on exciting projects or simply chat about technology!</p>
</div>
{% endblock %}
